<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg bg-body-tertiary mx-auto sticky-top">
  <div class="container-fluid ms-5">
    <a class="navbar-brand me-auto" href="/">
      <img src="https://store.reefstudio.com.hk/wp-content/uploads/2024/03/cropped-transparent_bg.png" alt="Logo" height="100" class="d-inline-block align-text-center">	  
    </a>
    <div class="collapse navbar-collapse justify-content-end me-4" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white me-3" rel="noopener" href="/customs">SERVICES</a>
        <a class="nav-link text-white me-3" target="_blank" rel="noopener" href="https://store.reefstudio.com.hk">STORE</a>
	<a class="nav-link text-white me-3" href="#">FACILITY</a>
	<a class="nav-link text-white me-3" href="/about">ABOUT US</a>
	<a class="nav-link text-white me-3" href="#">CONTACT</a>
      </div>
    </div>	
  </div>
</nav>
<!-- NAV BAR END -->
