<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Reef Studio Custom Aquariums</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Reef-Studio<br /></h1>
						<p>AQUARIUM INSTALLATION & MAINTENANCE SERVICES</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Reef Studio</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/customs">Home</a></li>
							<li><a href="/generic">Our Services</a></li>
							<li><a href="/tanks">Tank Options</a></li>
							<li><a href="/assets/brochureEng.pdf" download>Brochure</a></li>
						</ul>
						<a href="zh" style="height: 100%; display: flex; align-items: center;"><img src="images/hkflag.png" id="langChange"></a>
					</nav>

				<!-- Main -->
					<div id="main">
					  
							<section class="post">
								<header class="major">
									<h1>Bringing the Beauty of an Underwater World to Your Home</h1>
									<p>Ever dreamt about owning a stunning aquarium at home? Creating an aquarium in your home is more than just a decorative choice; it’s an opportunity to bring the serene beauty of the underwater world right into your living space. With vibrant colours, dynamic movements, and a variety of aquatic life, an aquarium can enhance any room, offering a unique focal point that captivates and soothes.</p>
								</header>
								<div class="image main"><img src="images/Freshwateraquarium4.jpg" alt="" /></div>
								<h3>Why choose us?</h3>
								<p>Creating a stunning aquarium in your home or business is a journey that requires expertise, creativity, and dedication. At Reef-Studio, we specialize in aquarium design, installation, and maintenance services that transform your vision into a breathtaking reality.</p>
								<p>Our team consists of passionate professionals with extensive knowledge of aquatic ecosystems. With years of experience in the industry, we understand the intricacies of designing and maintaining aquariums that thrive.</p>
								<div class="image main"><img src="images/Marinefish2.jpg" alt="" /></div>								
								  <h2 style="text-align: center">Want to know more?</h2>
								  <ul class="actions" style="justify-content: center;">
								    <li><a class="button primary" href="generic.html" target="_blank">Our Services</a></li>
								    <li><a class="button primary" href="generic.html" target="_blank">Types of tanks</a></li>
								  </ul>
								</div>
							</section>



							<!-- Posts -->

							

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Unit A, 5/F, Block A, Vita Tower, 29 Wong Chuk Hang Road<br />
								Wong Chuk Hang, Hong Kong</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">+852 2668-3900</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@exotic-aqua.com</a></p>
							</section>

						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
