<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Ref Studio Custom Aquariums</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/options.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">Reef Studio</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/customs">Home</a></li>
							<li><a href="/generic">Our Services</a></li>
							<li class="active"><a href="/tanks">Tank Options</a></li>
							<li><a href="/assets/brochureEng.pdf" download>Brochure</a></li>
						</ul>
						<a href="zh" style="height: 100%; display: flex; align-items: center;"><img src="images/hkflag.png" id="langChange"></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<h1>Tank Options</h1>
								</header>

								<h3>Freshwater Tanks</h3>
								<div class="lRow">
								  <div class="listRow1">
								    <ul class="no-bullets">
								      <li>				
									<b>Ease of Maintenance:</b> Freshwater aquariums are generally easier to set up and maintain compared to saltwater tanks. They require less specialized equipment and are often more forgiving when it comes to water quality.
								      </li>
								      <li>				
									<b>Diverse Species:</b> With a wide range of fish and plant species available, freshwater aquariums offer plenty of options for customization and creativity.
								      </li>
								      <li>				
									<b>Cost-Effective:</b> Freshwater fish tend to be less expensive than their marine counterparts, making it a budget-friendly choice for new aquarium enthusiasts
								      </li>
								      <li>				
									<b>Stunning Plant Life:</b> Freshwater aquariums allow for beautiful aquatic plants, enhancing the aesthetic appeal and providing natural filtration.
								      </li>
								      
								    </ul>
								  </div>
								  <div class="imageFormat1 imgformat"></div>
								</div>
							</section>
							<section>

							  <h3>Marine - Fish Only Tanks (FOT/FOWLR)</h3>
							  <div class="lRow">
							    <div class="listRow1">
							      <ul class="no-bullets">							
								<li>				
								  <b>Vibrant Colors:</b> Marine fish are known for their striking colors and patterns, creating a visually stunning display that can brighten any space
								</li>
								<li>				
								  <b>Engaging Behavior:</b> Many marine fish exhibit interesting behaviors, providing an engaging viewing experience for you and your guests
								</li>
								<li>				
								  <b>Ease of Maintenance:</b> Marine fish aquariums often come with artificial coral or live rocks, which are easier to set up and maintain. Marine fish require less specialized equipment and are often more forgiving when it comes to water quality compared to coral.

								</li>
								
							      </ul>
							    </div>
							    <div class="imageFormat2 imgformat"></div>
							  </div>  
							</section>
							<section>
							  
							  <h3>Marine - Reef Tanks</h3>
							  <div class="lRow">
							    <div class="listRow1">
							      <ul class="no-bullets">
								<li>				
								  <b>Biodiversity:</b> Reef aquariums support a diverse range of marine life, including corals, fish, and invertebrates. This creates a dynamic and vibrant ecosystem
								</li>
								<li>				
								  <b>Natural Beauty:</b> The combination of live corals and colorful fish creates a breathtaking underwater landscape that mimics natural reef environments.
								</li>
								<li>				
								  <b>Fascinating Interactions:</b> The interactions between different species in a reef aquarium can be captivating to observe, offering insights into the complexities of marine life.
								</li>
								<li>				
								  <b>Sustainability: </b> Many reef aquarium setups can incorporate sustainable practices, such as using aquacultured corals and fish, promoting conservation.
								</li>
								
							      </ul>
							    </div>
							    <div class="imageFormat3 imgformat"></div>
							  </div>
							</section>
							<section>

							  <h3>Jellyfish Tanks</h3>
							  <div class="lRow">
							    <div class="listRow1">
							      <ul class="no-bullets">							
								<li>				
								  <b>Unique Aesthetic:</b> Jellyfish aquariums are
								  striking and mesmerizing, offering a one-of-a-kind focal point with their graceful movement and ethereal appearance.
								</li>
								<li>				
								  <b>Low Maintenence:</b> While jellyfish require specific care and specific design of aquarium, they generally need less daily maintenance than traditional fish aquariums, making them easier to manage.
								</li>
								<li>				
								  <b>Fascinating Behavior:</b >Watching jellyfish swim and pulse through the water is a captivating experience, often serving as a conversation starter in any setting.

								</li>
								<li>
								  <b>Educational Appeal:</b> Jellyfish aquariums can provide valuable lessons about marine biology and the importance of jellyfish in ocean ecosystems.
								</li>
								
							      </ul>
							    </div>
							    <div class="imageFormat4 imgformat"></div>
							  </div>  
							</section>

							
							
					</div>				
				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Unit A, 5/F, Block A, Vita Tower, 29 Wong Chuk Hang Road<br />
								Wong Chuk Hang, Hong Kong</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">+852 2668-3900</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@exotic-aqua.com</a></p>
							</section>

						</section>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
