@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{
    font-family: "Lexend Deca", serif;
}
#teamBanner{
    height: 18vh;
    --bs-bg-opacity: 1;
    --bs-purple: #433066;
    background-color: var(--bs-purple);
}
.pictureRow{
    min-height: 35vh;
}

.headshot{
    min-height: 200px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat; 
}

#pic1{
    background-image: url("/media/Toshi.JPG");
}

#pic2{
    background-image: url("/media/Sam.JPG");     
}

#pic3{
    background-image: url("/media/Bob.JPG");
}
